################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BysLicense
/BysLicense/bin
/BysLicense/obj/Debug
/Data/bin/Debug
/Data/obj/Debug
/packages
/Services/bin/Debug
/Services/obj/Debug
